/*

        I like css.
    https://ryncmrfrd.me

*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
body {
    font-family: 'Roboto', sans-serif;
    transition: all 2s;
    overflow: hidden
}

button {
    position: relative;
    display: block;
    margin: 30px auto;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 4px;
    background-color: #450099;
    color: #ecf0f1;
    transition: background-color .3s
}

button:hover,
.btn:focus {
    background-color: #450099
}

button>* {
    position: relative
}

button span {
    display: block;
    padding: 12px 24px
}

button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    transform: translate(-50%, -50%)
}

button:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .1s ease-out, padding-top .1s ease-out
}

.login-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20vh
}

.login-header * {
    margin: 5px;
    text-align: center
}

.login-header-title {
    font-size: 7em
}

.login-inline-logo {
    position: relative;
    top: 8.3px;
    display: inline-block;
    background: url(../img/lifx.svg) bottom/cover;
    background-repeat: no-repeat;
    width: 2.9em;
    height: 1em
}

.login-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px
}

.login-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center
}

.login-footer p a {
    color: #450099;
    font-weight: 700;
    text-decoration: none
}

.login-form * {
    display: inline-block;
    margin: 0
}

.login-form input {
    width: 250px;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    transition: border 0.2s
}

.login-form input:focus,
.login-form input:active {
    outline: none;
    border: 1px solid #450099
}

.login-form button {
    width: 50px;
    padding: 7.5px
}

.logout {
    position: absolute;
    top: 0;
    right: 30px;
    padding: 10px
}

.logout:hover {
    background: #5300b9d3
}

.logout .fa-user-circle {
    padding: 0 6px 0 0
}

.app-container {
    height: 85vh;
    width: 150px;
    margin: 30vh auto
}

.app-select {
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
    transition: border 0.2s;
    border-radius: 4px
}

.app-select:focus,
.app-select:active {
    outline: none;
    border: 1px solid #450099
}

.app-toggle {
    display: block;
    position: relative;
    height: 150px;
    width: 150px;
    padding: 0;
    overflow: hidden;
    border: none;
    outline: none;
    border-radius: 9px;
    transition: opacity 0.25s;
    margin: 10px 0
}

.app-toggle .toggle-icons {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    margin: 0;
    padding: 10px 20px;
    font-size: 50px;
    color: white;
    background: transparent;
    cursor: pointer;
    border-radius: 50%
}

.app-toggle .toggle-icons #loader {
    animation: loader 2s linear infinite
}

@keyframes loader {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.app-toggle .toggle-icons:hover {
    background: #5300b95e
}

.app-toggle .brightness {
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 0;
    margin: 0;
    padding: 0;
    transform: rotate(-90deg)
}

.app-toggle .brightness::-webkit-slider-runnable-track {
    background: #450099;
    width: 100%;
    height: 100%
}

.app-toggle .brightness::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 100%;
    box-shadow: -100vw 0 0 100vw rgba(255, 255, 255, .2)
}

.app-slider {
    margin: 10px 0 0 0;
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #fff;
    outline: none;
    border-radius: 4px;
    padding: 0 5px
}

.app-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #450099;
    border-radius: 50%;
    cursor: pointer
}