body{
    height: 100%; 
    transition: all 2s;
}
::-webkit-scrollbar { 
    display: none; 
}
#noLights{
    width: 100vw; 
    position: absolute; 
    top: 0;
}
main{
    height: 93vh; 
}
main div{
    width: 150px;
}
div.select{
    margin-bottom: 10px;
}
#toggle{
    min-width: 150px; 
    height: 150px
}
#sliders{
    max-width: 150px;
}
footer{
    height: 7vh;
}
#logoutBtn{
    margin: 10px 10px 0 0;
}