body{
    height: 100vh; width: 100vw; overflow: hidden; transition: background 1s;
}
/*button*/
.buttonContainer{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
#toggleAll{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    font-size: 3em;
    margin: 20px auto;
}
/*loading animation*/
#loader{
    animation: loader 2s linear infinite; 
}
@keyframes loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }