body{height: 100vh; width: 100vw; overflow: hidden; transition: background 1s;}
/*button*/
.buttonContainer{
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    align-items: center;
}
.mainButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    font-size: 3em;
}
/*loading animation*/
#loader{
    animation: loader 2s linear infinite; 
}
@keyframes loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*color slider*/
.colorSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #fff;
    outline: none;
}
.colorSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #07c;
    border-radius: 50%;
    cursor: pointer;
}
.colorSlider::-webkit-slider-thumb::before {
    content: 'yeet';
}
/**/
.selectLight{
    width: 150px;
}
/*error popup*/
.error{
    display: flex;
    justify-content: center;
    position: absolute; top: -100px;
    width: 100vw;
    font-size: 50px;
    transition: top 1s;
}
.error span{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
}