body{
    background: #82e2ff;
    transition: background 2s;
}
/* login wrapper */
.tokenWrapper{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tokenWrapper div{
    margin-top: 30vh;
}
.tokenWrapper div button{
    display: block;
    margin: 10px auto;
}
/*flexbox*/
.container{
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    align-items: center;
}
.container div{
    width: 150px;
}
/*toggle/lightness button*/
.toggle{
    display: block;    
    position: relative;
    height: 150px;
    width: 150px;
    padding: 0;
    overflow: hidden;
    border: none;
    border-radius: 9px;
    transition: opacity 0.25s;
    margin: 10px 0;
}
.icons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 0; padding: 0 15px;
    font-size: 50px;
    color: white;
    background: transparent;
}
.brightness {
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 0;
    margin: 0; padding: 0;
    transform: rotate(-90deg);
}
.brightness::-webkit-slider-runnable-track {
    background: #07c;
    width: 100%;
    height: 100%;
}

.brightness::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 100%;
    box-shadow: -100vw 0 0 100vw rgba(255, 255, 255, 0.2);
}
/*color slider*/
.color {
    margin: 10px 0 0 0;
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #fff;
    outline: none;
}
.color::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #07c;
    border-radius: 50%;
    cursor: pointer;
}
/*loading animation*/
#loader{
    animation: loader 2s linear infinite; 
}
@keyframes loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
